{% extends 'admin.html.twig' %}

{% block title %}Cinegest - Login{% endblock %}

{% block body %}
    <div id="Login">
        <p>Page de login sans react</p>
        <p>{{ app.request.get('_route') }}</p>
    </div>
{% endblock %}
